<div class="home__container">
    <p>ola</p>
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gamePrice="R$ 99,99"
        gameType="Digital | PS4"
    ></app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gamePrice="R$ 229,99"
        gameType="DISC | PS5"
    ></app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="New"
        gamePrice="R$ 99,99"
        gameType="Digital | PS4"
></app-card>
<app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Rest Of Year"
        gamePrice="R$ 100,99"
        gameType="DISC | PS5"
></app-card>
</div>
